{% extends 'mainPython/layout.html' %}

{% load static %}

{% block contentPage %}
    {% for stat in statistic %}

        <h2>{{ stat.title }}</h2><br>

        <p>{{ stat.content|safe }}</p><br>

        {% for table in stat.tables.all %}

            <h4>{{ table.name }}</h4><br>
                {{ table.data|safe }}

            {% if table.image %}
                <img src="{{ table.image.url }}" alt="{{ table.name }}" class="analytics-image"/>
            {% endif %}<br>

        {% endfor %}
        
    {% endfor %}

{% endblock %}

{% block titlePage %}
Самый популярные навыки
{% endblock %}